[submodule "src/async_web_server_cpp"]
	path = src/async_web_server_cpp
	url = https://github.com/GT-RAIL/async_web_server_cpp
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = https://github.com/RobotWebTools/web_video_server
