<launch>

  <!-- Required parameters: /camera/left /camera/right-->
  <param name="/web_video_server/address" value="0.0.0.0" />
  <param name="/web_video_server/port" value="8080" />
  <node pkg="web_video_server" type="web_video_server" name="video_server" />
  <node pkg="webgui" type="run_server" name="server"/>
</launch>
