[Unit]
Description=Launch roscore on boot
After=network.target

[Service]
EnvironmentFile=/etc/default/roscore
ExecStart=/bin/bash -c "source /opt/ros/kinetic/setup.bash; /opt/ros/kinetic/bin/roscore"
User=ubuntu

[Install]
WantedBy=multi-user.target
