[Unit]
Description=Launch the submarine on boot
After=network.target roscore.service

[Service]
EnvironmentFile=/etc/default/roscore
ExecStart=/home/ubuntu/catkin_ws/src/robosub/start-sub.sh

[Install]
WantedBy=multi-user.target
