<launch>
  <!-- Set this to your camera's name -->
  <arg name="camera_name" value="bottom_camera" />

  <!-- Start the GSCAM node -->
  <!-- See `tcam-ctrl -c <serial number>` for available frame rates and resolutions -->
  <arg name="fps" default="30" />
  <arg name="width" default="640" />
  <arg name="height" default="480" />
  <env name="GSCAM_CONFIG" value="tcambin ! video/x-raw,format=BGRx,width=$(arg width),height=$(arg height),framerate=$(arg fps)/1 ! videoconvert ! video/x-raw,format=RGB,width=$(arg width),height=$(arg height),framerate=$(arg fps)/1 ! videoconvert" />

  <group ns="$(arg camera_name)">
    <node pkg="nodelet" type="nodelet"
      name="bottom_camera_nodelet" args="manager"
      output="screen"/>

    <node pkg="nodelet" type="nodelet"
      name="$(arg camera_name)" 
      args="load gscam/GSCamNodelet bottom_camera_nodelet" 
      output="screen">
      <param name="camera_name" value="$(arg camera_name)"/>
      <param name="frame_id" value="/$(arg camera_name)_frame"/>
      <remap from="camera/image_raw" to="image_raw" />
    </node> 

    <node pkg="nodelet" type="nodelet" name="debayer"
      args="load image_proc/debayer bottom_camera_nodelet"
      respawn="true"/>
  </group>

  <!-- View the raw and rectified output -->
  <!-- <node pkg="image_view" type="image_view" name="creative_view" > -->
  <!--   <remap from="image" to="/$(arg camera_name)/image_raw" /> -->
  <!-- </node> -->
    
</launch>
